{% extends "base.html" %} {% block head %} {{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename= 'extended_beauty.css') }}" />
{% endblock %} {% block content %}
<div id="intro">
    {% with messages = get_flashed_messages() %} {% if messages %}
    <div class="notification is-success">
        {{ messages[0] }}
    </div>
    {% endif %} {% endwith %}
    <h1>
        How was today's workout, beast?
    </h1>
    <centre>
        <img src="{{ url_for('static', filename= 'images/beast.jpg') }}" alt="beast" height="200px" />
    </centre>

</div>
{% endblock %}